body {
    background: url('../img/IMG_2785.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 70px;    
}

#jumbo {
    /* height: 350px; */
    color: black;
    /* text-shadow: #444 0 1px 1px;*/
    /* background:transparent; */
    background: rgba(255,255,255,0.8);

}

.container .jumbotron {
  padding-left: 10px;
}

.well{
  background-color: rgba(255,255,255,0.8); // I don't know the .well color, so I used white as example
}

#indexTable {
    /* height: 350px; */
    color: black;
    /* text-shadow: #444 0 0px 0px; */
    /* background:transparent; */
    background: rgba(255,255,255,0.2);
}
/*
#navbar { 
    height: 28px; 
    color: black;
    background: rgba(255,255,255,0.5);
}

.navbar-nav > li > a {padding-top:10px !important; padding-bottom:10px !important;}
.navbar {min-height:10px !important}
*/

.opacity(@opacity) {
  opacity: @opacity;
  // IE8 filter
  @opacity-ie: (@opacity * 100);
  filter: ~"alpha(opacity=@{opacity-ie})";
}

#foot {
    //height: 150px;
    color: black;
    /* text-shadow: #444 0 1px 1px; */
    /* background:transparent; */
    background: rgba(255,255,255,0.8);
}

body{
    /* Workaround for some mobile browsers */
    min-height:100%;
}

.border-top-radius(@radius) {
  border-top-right-radius: @radius;
   border-top-left-radius: @radius;
}
.border-right-radius(@radius) {
  border-bottom-right-radius: @radius;
     border-top-right-radius: @radius;
}
.border-bottom-radius(@radius) {
  border-bottom-right-radius: @radius;
   border-bottom-left-radius: @radius;
}
.border-left-radius(@radius) {
  border-bottom-left-radius: @radius;
     border-top-left-radius: @radius;
}