body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

// mp new
// from: http://stackoverflow.com/questions/19227496/scrollable-menu-with-bootstrap-3-menu-expanding-its-container-when-it-should-n
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
  }

.wrapper {
    position: relative;
    margin:0;
    overflow:hidden;
}

.scrollable-menu {
    height: auto;
    max-height: 180px;
    overflow-x: hidden;
}

.scrollable-menu::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;        
}    

.scrollable-menu::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: lightgray;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.75);        
}


